models/graph/cmu/*.pb
models/graph/cmu*/*.pb
images/*
*.git

#testing files starting with run_*py
run*

#dataset
*/action_dataset/*

*.jpg

*.mp4

simple_ftp*

#pickle files
*.pickle
#tf_pose folder
*/tf_pose/*
